<div class="container">
  <div class="row">
    <div class="create-product-container">
      <form class="post-form" [formGroup]="createProductForm" (ngSubmit)="createProduct()">
        <div class="form-group">
          <div class="create-product-heading">Create Product</div>
          <hr />
          <input type="text" [formControlName]="'name'" class="form-control" style="margin-top: 5px"  placeholder="Product Name">
          <div>
            <div style="margin-top: 5px" class="float-right">
              <button (click)="discard()" class="btnDiscard">Discard</button>
              <button class="btnCreateProduct">Create</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!--    <div class="col-md-3">-->
    <!--      <div class="sidebar">-->
    <!--        <h5 class="guidelines">Posting to Spring Reddit</h5>-->
    <!--        <hr />-->
    <!--        <ul>-->
    <!--          <li>Remember the human</li>-->
    <!--          <hr />-->
    <!--          <li>Behave like you would in real life</li>-->
    <!--          <hr />-->
    <!--          <li>Don't spam</li>-->
    <!--          <hr />-->
    <!--        </ul>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>
