<p>ServersRoutingComponent works!</p>


<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item"
        *ngFor="let serverRouting of serversRouting">
        {{ serverRouting.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
<!--    <a routerLink="/servers-routing">Reload Page</a>-->
<!--    <hr>-->
    <button class="btn btn-primary" (click)="onReload()">Reload Page</button>
    <hr>
    <app-edit-server-routing></app-edit-server-routing>
    <hr>
    <app-server-routing></app-server-routing>
  </div>
</div>

