<!--aplikacja: angular-reddit-clone-->
<!--<app-header></app-header>-->
<!--<router-outlet></router-outlet>-->



<!--aplikacja: UdemyAngularTheCompleteGuide
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in AppComponent</h3>
      <hr>
        <app-servers></app-servers>
      <hr>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>
-->

<!--aplikacja: UdemyAngularTheCompleteGuide - AssignmentSolution
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>AssignmentSolution1</h3>
      <hr>
      <app-assignment-solution></app-assignment-solution>
      <hr>
    </div>
  </div>
</div>
-->

<!--aplikacja: UdemyAngularTheCompleteGuide - AssignmentSolution2
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>AssignmentSolution2</h3>
      <hr>
      <app-assignment-solution2></app-assignment-solution2>
      <hr>
    </div>
  </div>
</div>

<hr>
<hr>
<hr>

<h1>{{ title }}</h1>
<input type="text" [(ngModel)] ="name">
<p>{{ name }}</p>
-->

<!--ng4-complete-guide-->
<app-ng4-header></app-ng4-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
<!--      <app-ng4-recipes></app-ng4-recipes>-->
<!--      <app-ng4-shopping-list></app-ng4-shopping-list>-->
      <h2>I'm working ...</h2>
    </div>
  </div>
</div>



























