<div class="col-md-11">
      <span class="product-info">
        <span> Product:  <a class="product-text" routerLink="/product/{{policy.productName}}">{{policy.productName}}</a></span>
      </span>

  <hr/>

  <div class="policy-title">
    Polisa: <b>{{ policy.policyName }}</b>
  </div>
  <div class="policy-title">
    Id: <b>{{ policy.policyId }}</b>
  </div>
  <div class="policy-title">
    Description: <b>{{ policy.policyDescription }}</b>
  </div>
  <div class="policy-title">
    CreatedDate: <b>{{ policy.policyCreatedDate }}</b>
  </div>
  <hr/>
</div>


